.resource-header {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #1721F2;
    color: white;
}

.links {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #C8FFC3;
}

.resource {
    display: inline-block;
    background: #D4F1F6;
}

.portfolio-card {
    display: inline-block;
    height: fit-content;
    border: 10px solid #9DE996;
    min-width:fit-content;
    width: 25%;
    margin: 15px 15px 15px 15px;
    background-color: #C8FFC3;
}

.card-padding {
    padding: 15px 15px 15px 15px;
    align-items: center;
}

.card-body {
    background: #C8FFC4;
    text-align: center;
}

.card-title {
    color: black;
    font-size: 22px;
    font-weight: bold;
    margin-left: 1rem;
    width: fit-content;
    background: #C8FFC4;
}

.card-text {
    color: black;
    margin-left: 1rem;
    width: fit-content;
}