

.intro-bar {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #F99AB9;
}

.intro-desc {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #FFD0D0;
}

.fun {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
    height: fit-content;
}