div {
    box-sizing: border-box;
    width: 100%;
}

.main {
    background-color: #DDF9FF;
}

.user-header {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #FF6666;
}

.left {
    float: left;
    width: 50%;
}

.right{
    float: right;
    width: 50%;
    text-align: center;
}

.home-header {
    display: inline-block;
    height: fit-content;
    text-align: center;
    background: #FFD0D0;
    padding: 0.5rem;
}

.buttons-column {
    float: left;
    width: 35%;
}

.content-column {
    float: left;
    width: 65%;
}

.row {
    padding-top: 20px;
    padding-bottom: 100px; /* to fill bottom w/ blue */
}
  
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    display: inline-block;
    width: 70%;
    background-color: #C8FFC3;
    cursor: pointer;
    text-align: center;
    border: 5px solid #9DE996;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 20px 20px 40px;
    font-size: 18px;
}

.button:hover {
    background-color: #FFD0D0;
    color: black;
}

.content-box {
    display: inline-block;
    width: 90%;
    height: 550px;
    background-color: #C8FFC3;
    text-align: center;
    border: 5px solid #9DE996;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    font-size: 18px;
}